/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    testCreated on : Jul 26, 2021, 4:52:21 PM
    Author     : ftc
*/

.logo img {
    max-height: initial;
}
header .search-container {
    width: 319px;
}
header input#text-search {
    margin-top: 23px;
}

header  .topbar {
    height: 86px;
} 

header button.btn.btn-default.btn-lg {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 3px;
    background: #fff;
    border-radius: 100%;
    width: 27px;
    height: 30px;
}
header input#text-search {
    padding: 6px 16px;
    margin-top: 0;
    background: transparent;
    color: #fff;
    border-radius: 30px;
}
header i.fs-12.fa.fa-search {
    top: 6px;
    position: absolute;
    right: 7px;
    font-size: 16px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}