/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    testCreated on : Jul 26, 2021, 4:52:21 PM
    Author     : ftc
*/

.logo img {
    max-height: initial;
}
header .search-container {
    width: 319px;
}
header input#text-search {
    margin-top: 23px;
}

header  .topbar {
    height: 86px;
} 

header button.btn.btn-default.btn-lg {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 3px;
    background: #fff;
    border-radius: 100%;
    width: 27px;
    height: 30px;
}
header input#text-search {
    padding: 6px 16px;
    margin-top: 0;
    background: transparent;
    color: #fff;
    border-radius: 30px;
}
header i.fs-12.fa.fa-search {
    top: 6px;
    position: absolute;
    right: 7px;
    font-size: 16px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
header div#search {
    position: relative;
} 
.container-menu-header #dropdownMenuLink {   
    background: transparent !important;
    color: #000 !important;
    font-family: Montserrat-Regular;
    font-size: 15px;
    text-transform: capitalize;
    box-shadow: none;
}

header .sub-menu a.dropdown-item {
    color: #fff;
    font-family: Montserrat-Regular;
    font-size: 15px;
    line-height: 2;
}
header .side-menu .sub-menu a:hover {
    color: #fff !important;
    background: transparent;
}

.logo-mobile-container .logo {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
}

.wrap_header_mobile {
    background-color: #f17427;
}
.topbar-social-item {
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    background: #F6AE0E;
    margin-right: 20px;
    border-radius: 50%;
}
header .topbar-social {
    position: relative;
}

header .topbar-social-item {
    background: #F6AE0E;
}


.home-banner .block1-wrapbtn {
left: 34%;
bottom: 20px;
}
.custom-banner-text {
    position: absolute;
    right: -24px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.custom-banner-text p {
    color: #fff;
}
.swal-overlay {
    overflow-y: auto;
    z-index: 9999999;
}

/*

Quick View css
*/
#quick-view {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  .qv-product-images {
    width: 60%;
    height: auto;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 30px;
    top: 0;
    height: 100%;
  }
  .slick-list, .slick-track {
    height: calc(100% - 12px);
  }
  .slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slick-slide {
    padding: 0 50px;
    height: 100%;
    position: relative;
    img {
      margin: 0 auto;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  .slick-dots {
    right: auto;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    li {
      margin: 0 8px 0 0;
      button {
        background-color: #cacaca;
        width: 12px;
        height: 12px;
      }
      &.slick-active button {
        background-color: $primary;
      }
    }
  }
  .qv-content {
    width: 36%;
    display: inline-flex;
    float: right;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - 40px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    flex-wrap: wrap;
    overflow: auto;
    box-sizing: border-box;
    > * {
      width: calc(100% - 25px);
      box-sizing: border-box;
    }
  }
  .qv-product-title {
    padding-right: 20px;
    text-transform: lowercase;
    margin-bottom: 0;
    color: #575757;
  }
  .qv-product-type {
    color: #a18466;
    font-family: 'proxima-nova-semibold';
    text-transform: lowercase;
  }
  .qv-product-price, .qv-product-original-price {
    display: inline-block;
    color: #5a5a5a;
    margin-bottom: 0;
  }
  .qv-product-original-price {
    margin-left: 8px;
    text-decoration: line-through;
    color: lighten(#5a5a5a, 30%);
  }
  .option-selection-title {
    display: none;
  }
  hr {
    border-top: 1px solid $beige;
    margin: 15px 0 20px;
  }
  .quantity {
    margin-bottom: 25px;
    span {
      text-transform: lowercase;
      @include font-size(1.4);
      display: inline-block;
      min-width: 100px;
    }
    input[type="number"]{
      width: 60px;
      text-align: center;
      @include font-size(1.4);
      -moz-appearance: textfield;
      margin-left: -4px;
      padding: 4px;
      border: 1px solid #d3d3d3;
      &:focus {
        outline: none;
        border: 1px solid $red;
        display: inline-block;
      }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
  .qv-product-options {
    > div {
      margin-bottom: 8px;
    }
    span {
      @include font-size(1.4);
      text-transform: lowercase;
      display: inline-block;
      min-width: 100px;
    }
  }
  .qv-add-button {
    display: block;
    background-color: $red;
    font-family: 'proxima-nova-semibold';
    @include font-size(1.4);
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    padding: 10px 20px;
    border: 0;
    width: 100%;
    color: #fff;
    &:hover {
      background-color: $red-hover;
    }
    &:focus {
      background-color: #3a3a3a;
      outline: none;
    }
    &:disabled {
      background-color: #ccc;
    }
  }
  .qv-add-to-cart-response {
    @include font-size(1.4);
    margin-top: 20px;
    display: none;
    font-family: 'proxima-nova-semibold';
    &.success, &.error {
      display: block;
      padding: 8px;
      border: 1px solid;
    }
    &.success {
      border-color: $green-hover;
      color: $green-hover;
      a {
        color: $primary;
        text-decoration: underline;
      }
    }
    &.error {
      border-color: $red-hover;
      color: $red-hover;
    }
  }
  .qv-product-description {
    padding: 20px 0 30px;
    @include font-size(1.45);
  }
  .view-product {
    display: inline-block;
    text-transform: uppercase;
    @include font-size(1.2);
    letter-spacing: .05em;
    font-family: 'proxima-nova-semibold';
    span {
      color: #5a5a5a;
      border-bottom: 2px solid #5a5a5a;      
    }
    &:hover {
      span {
        color: $red;
        border-bottom: 2px solid $red;
      }
    }
  }
  @media (max-width: 1200px){
    .qv-product-images, .qv-content {
      width: 50%;
    }
    .qv-content {
      padding-left: 60px;
    }
    .slick-slide {
      padding: 0;
    }
  }
  @media (max-width: 900px){
    display: block;
    height: calc(100% - 40px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    .qv-product-images {
      top: 0;
      left: 0;
      height: 50%;
      max-height: 350px;
      position: relative;
      width: 100%;
    }
    .slick-slide {
      position: relative;
      img {
        max-height: 300px;
        margin: 0 auto;
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: none;
        transform: none;
        height: 100%;
        width: auto;
      }
    }
    .slick-dots {
      bottom: 0;
    }
    .qv-content {
      width: 100%;
      height: auto;
      padding: 0 10px 10px 30px;
      overflow: auto;
      -webkit-transform: none;
      transform: none;
    }
    .slick-initialized .slick-slide {
      display: block;
      text-align: center;
    }
    .slick-slide img {
      width: auto;
      display: inline-block;
      max-width: 300px;
    }
  }
}